* {
  box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;}
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.title {
    color: black;
}
/* Add a black background color to the top navigation */
.topnav {
  background-color: #333;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #9DDBAD;
  color: white;
}
.content {
  background-color: #C3E8BD;
  padding: 20px;
}


.image-container img {
  width: 75%;
  height: 75%;
  object-fit: cover;
}

/* Style the footer */
.footer {
  background-color: #8EB897;
  padding: 20px;
}

